body {
    background-color: #6c59a6;
}

.container {
    width: 850px;
    height: 250px;
    margin: 25px auto;
    background-color: #E8E8E8;
    border-radius: 4px;
    position: relative;
    font-family: 'Inter', sans-serif;
}

.container label span {
    color: red;
}

.title {
    font-size: 36px;
    text-align: center;
    padding-top: 50px;
    font-weight: 500;
}

.search-container {
    margin-left: 225px;
    margin-top: 25px;
}

.search-container form {
    position: relative;
    height: 40px;
}

.search-container input:invalid {
    box-shadow: none;
}

.search-container input:focus {
    outline: 0;
    box-shadow: 0 0 0 2px black;
}

.search-container input {
    margin-left: 17px;
    border-radius: 4px;
    border: 0 solid;
    height: 19px;
    width: 160px;
}

.search-container label {
    font-weight: 300;
}

.btn-group {
    margin-top: 32px;
    margin-left: 55px;
}

.btn-group input {
    height: 28px;
    width: 100px;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    background-color: #f2f2f2;
    border-radius: 3px;
}

.btn-group input:first-child {
    margin-right: 25px;
}

.btn-group input:hover {
    background-color: #a6a6a6;
}

.btn-group .active {
    outline: 0;
    box-shadow: 0 0 0 2px black;
}

#line {
    width: 850px;
    margin: 25px auto;
    background-color: #E8E8E8;
    height: 1px;
    border: none;
}

.tab {
    width: 850px;
    height: 55px;
    background-color: #E8E8E8;
    margin: auto;
    display: none;
}

.tab button {
    float: left;
    height: 55px;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    background-color: #E8E8E8;
    font-weight: 300;
}

.tab button:hover {
    background-color: #ddd;
}

.tab .active {
    background-color: #cccccc;
}

.tab-content {
    display: none;
    width: 850px;
    margin: 35px auto;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.tab-content table {
    border-collapse: collapse;
}

.tab-content td {
    border: 1px solid #b3b3b3;
}

.attribute {
    background-color: #cccccc;
    width: 295px;
    font-weight: 600;
    padding-left: 4px;
}

.data {
    background-color: #E8E8E8;
    text-align: center;
    width: 555px;
    padding-left: 3px;
}

#outlook-description {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 105px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.arrow-image {
    position: relative;
    height: 15px;
    padding-left: 10px;
    top: 1px;
}

.highcharts-subtitle a{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    fill: purple;
}

#news ul {
    list-style-type: none;
    padding: 0;
}

#news li {
    width: 850px;
    height: 105px;
    background-color: #E8E8E8;
    margin-bottom: 20px;
    border-radius: 4px;
}

#news img {
    height: 85px;
    width: 85px;
    object-fit: cover;
    margin: 10px 15px 10px 15px;
    float: left;
}

#news div {
    padding-top: 10px;
    line-height: 1.1;
    width: 800px;
}

#warning-box {
    width: 170px;
    height: 15px;
    background-color: white;
    padding: 11px 5px 11px 10px;
    position: relative;
    top: -51px;
    left: 216px;
    font-size: 11px;
    border: 1px solid #8c8c8c;
    border-radius: 5px;
    display: none;
}

.arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid #8c8c8c;
    background-color: white;
    transform: rotate(45deg);
    top: -6px;
    left: 15px;
    border-right: none;
    border-bottom: none;
}

#warning-text {
    margin-left: 25px;
    font-size: 13px;
    font-family: 'Inter', sans-serif;
}

#icon {
    height: 21px;
    width: 21px;
    background-color: orange;
    margin-top: -4px;
    float: left;
    margin-left: -3px;
}

#icon:before {
    width: 3px;
    height: 8px;
    background: white;
    display: block;
    position: absolute;
    content: "";
    left: 16px;
    top: 11px;
}

#icon:after {
    background: white;
    display: block;
    position: absolute;
    content: "";
    top: 21px;
    left: 16px;
    border-radius: 2pt;
    width: 3px;
    height: 3px;
}

#error {
    display: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-align: center;
}
