<div class="row">
    <div class="mt-3 col-12 col-md-9 mx-auto">
        <mat-spinner class="mx-auto mt-5" *ngIf="isLoading" [diameter]="50" [strokeWidth]="4"></mat-spinner>
        <div *ngIf="!isLoading">
            <ngb-alert *ngIf="hasError" [dismissible]="false" type="danger" class="text-center mt-5">
                No results found. Please enter valid Ticker
            </ngb-alert>
            <div *ngIf="!hasError">
                <div class="first-row row">
                    <div class="col-12">
                        <ngb-alert 
                            class="text-center top-alert"
                            *ngIf="afterStarMessage" 
                            [type]="isInWatchList ? 'success' : 'danger'" 
                            (close)="afterStarMessage = ''"
                        >{{ afterStarMessage }}</ngb-alert>
                        
                        <ngb-alert 
                            class="text-center top-alert"
                            *ngIf="afterBuyMessage" 
                            type="success"
                            (close)="afterBuyMessage = ''"
                        >{{ afterBuyMessage }}</ngb-alert>
                    </div>
                    <div class="col-7">
                        {{ companyOutlook.ticker }}
                        <svg *ngIf="!isInWatchList"
                             (click)="onClickStar()" 
                             width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-star mb-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                        </svg>
                        <svg *ngIf="isInWatchList" 
                             (click)="onClickStar()" 
                             width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-star-fill mb-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                    </div>
            
                    <div class="col-5 text-right" [ngClass]="{'red': companySummary.change < 0, 'green': companySummary.change > 0}">
                        {{ companySummary.last | displayNumber }}
                    </div>
                </div>
        
                <div class="row second-row mt-n2">
                    <div class="col-7" id="name">
                        {{ companyOutlook.name }}
                    </div>
        
                    <div class="col-5 text-right" [ngClass]="{'red': companySummary.change < 0, 'green': companySummary.change > 0}">
                        <svg *ngIf="companySummary.change > 0" width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                        </svg>
                        <svg *ngIf="companySummary.change < 0" width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                        </svg>
                        {{ companySummary.change | displayNumber }} ({{ companySummary.changePercent | displayNumber }}%)
                    </div>
                </div>
        
                <div class="row third-row mt-2">
                    <div class="col-6">
                        {{ companyOutlook.exchangeCode }}
                    </div>
        
                    <div class="col-6 text-right">
                        {{ companySummary.todayDate | displayDate }}
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-6">
                        <button id="buy" type="button" class="btn btn-primary mt-2 px-3 py-2" (click)="open()">Buy</button>
                    </div>
                </div>
    
                <div class="row justify-content-center mt-4">
                    <div class="col-12 text-center">
                        <div *ngIf="companySummary.marketOpen" class="text-center status-open">Market is Open</div>
                        <div *ngIf="!companySummary.marketOpen" class="text-center status-close">Market Closed on {{ companySummary.timestamp | displayDate }}</div>
                    </div>
                </div>
    
                <mat-tab-group class="mt-5 mx-3" mat-stretch-tabs mat-align-tabs="center">
                    <mat-tab label="Summary">
                        <ng-template matTabContent>
                            <div class="row mt-4">
                                <div class="col-12 col-lg-6">
                                    <div class="row w-100 pl-0 pl-md-4 justify-content-between">
                                        <div class="col-6">
                                            <table class="summary-table">
                                                <tbody>
                                                    <td>High Price:</td>
                                                    <td>{{ companySummary.high | displayNumber }}</td>
                                                </tbody>
                                                <tbody>
                                                    <td>Low Price</td>
                                                    <td>{{ companySummary.low | displayNumber }}</td>
                                                </tbody>
                                                <tbody>
                                                    <td>Open Price:</td>
                                                    <td>{{ companySummary.open | displayNumber }}</td>
                                                </tbody>
                                                <tbody>
                                                    <td>Prev. Close:</td>
                                                    <td>{{ companySummary.prevClose | displayNumber }}</td>
                                                </tbody>
                                                <tbody>
                                                    <td>Volumn:</td>
                                                    <td>{{ companySummary.volume | displayNumber: 'true' }}</td>
                                                </tbody>
                                            </table>
                                        </div>
        
                                        <div *ngIf="companySummary.marketOpen" class="col-6">
                                            <table class="summary-table">
                                                <tbody>
                                                    <td>Mid Price:</td>
                                                    <td>{{ companySummary.mid | displayNumber }}</td>
                                                </tbody>
                                                <tbody>
                                                    <td>Ask Price:</td>
                                                    <td>{{ companySummary.askPrice | displayNumber }}</td>
                                                </tbody>
                                                <tbody>
                                                    <td>Ask Size:</td>
                                                    <td>{{ companySummary.askSize | displayNumber }}</td>
                                                </tbody>
                                                <tbody>
                                                    <td>Bid Price:</td>
                                                    <td>{{ companySummary.bidPrice | displayNumber }}</td>
                                                </tbody>
                                                <tbody>
                                                    <td>Bid Size:</td>
                                                    <td>{{ companySummary.bidSize | displayNumber }}</td>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row w-100 description-header justify-content-center mt-5 px-2">
                                        Company's Description
                                    </div>
    
                                    <div class="row w-100 description mt-3 px-2">
                                        Start Date: {{companyOutlook.startDate}}
                                    </div>
    
                                    <div class="row w-100 description mt-3 mb-4 px-2">
                                        {{companyOutlook.description}}
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 px-3">
                                    <summary-chart
                                        [ticker]="companyOutlook.ticker"
                                        [data]="lastDayChartData"
                                        [isPositiveChange]="companySummary.change > 0"
                                    ></summary-chart>
                                </div>
                            </div>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="Top News">
                        <ng-template matTabContent>
                            <div class="card-group">
                                <div class="row news-container">
                                    <news-card
                                        *ngFor="let newsInfo of newsDataArray"
                                        [newsInfo]="newsInfo"
                                        class="col-sm-12 col-lg-6 pt-4"></news-card>
                                </div>
                            </div>
                                
                        </ng-template>
    
                    </mat-tab>
                    <mat-tab label="Charts">
                        <ng-template matTabContent>
                            <div class="row h-100">
                                <div class="col-12">
                                    <tab-chart 
                                    [ticker]="companyOutlook.ticker"
                                    [data]="historyChartData"></tab-chart>
                                </div>
                            </div>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
    
</div>