#title {
    text-align: center;
    font-weight: 800;
    font-size: 60px;
    position: relative;
    margin-top: 5rem !important;
}

#search-bar {
    border-radius: 40px;
    border: 2px solid #6e3cff;
    max-width: 240px;
}

#search-bar:focus {
    outline: none;
    box-shadow: none;
}

#search-btn {
    color: #6e3cff;
    position: relative;
}

#ticker-name {
    font-size: 13px;
    font-weight: 400;
}
