<div>
    <div id="title" class="mb-4">
        STOCK SEARCH
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="row justify-content-center">
            <input class="form-control pl-3 col-8" 
                   type="text" 
                   placeholder="Enter stock name" 
                   id="search-bar" 
                   name="ticker" 
                   formControlName="ticker" 
                   (keyup)="search()" matInput 
                   [matAutocomplete]="auto">
            <button class="btn pt-2" type="submit" id="search-btn">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>

        <mat-autocomplete #auto="matAutocomplete" [panelWidth]="185" class="ml-3 mt-n2">
            <mat-option *ngIf="isLoading">
                <mat-spinner [diameter]="40" class="ml-1 mt-1"></mat-spinner>
            </mat-option>
            <div *ngIf="!isLoading">
                <mat-option *ngFor="let result of searchResults" [value]="result.ticker">
                    {{ result.ticker }} <span id="ticker-name">| {{ result.name }}</span>
                </mat-option>
            </div>
        </mat-autocomplete>
    </form>

</div>
